<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalnoteapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalNoteApp">
        <activity
            android:name=".EditTagActivity"
            android:exported="false" />
        <activity
            android:name=".fontSetting"
            android:exported="false" />
        <activity
            android:name=".AutoDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".NoteDeletedDetail"
            android:exported="false" />
        <activity
            android:name=".EditNote"
            android:exported="false"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".TagActivity"
            android:exported="false" />
        <activity
            android:name=".NoteActivity"
            android:exported="false"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".VertifyEmail"
            android:exported="false" />
        <activity
            android:name=".FlashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPassword" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />

        <receiver android:name=".AlarmReceiver"/>
    </application>

</manifest>